@font-face {
    font-family: NeuzeitSLTStd-Book;
    src: url(../assets/font/NeuzeitSLTStd-Book.otf);
}

:root {
    --black-clr: rgba(13,13,13, 90%);
    --white-clr: rgb(242, 242, 242);
    --gray-clr: rgb(177, 177, 177);
    --red-clr: rgb(255, 0, 0);
    --cyan-clr: rgb(0, 255, 255);

    --main-fnt: NeuzeitSLTStd-Book;
}